.container{
  padding: 20px 60px;
  font-size: 1.2em;
}
.word{
  font-size: 1.3em;
}
.g_m{
  font-size: 0.7em;
}
a{
  color: black;
  text-decoration: none;
  font-style: italic;
}
.group{
  display: inline-block;
  font-size: 0.8em;
}
.connotation{
  font-size: 0.8em;
}
