.container{
  display: flex;
  flex-direction: column;
  gap:20px;
  width: 700px;
  margin: auto auto;
  padding:20px;
}

span{
  font-style:italic;
}
.word:hover{
  cursor: pointer;
  text-decoration: underline;
}
.no-results{
  font-style: italic;
  color: grey;
  text-align: center;
}
