<div class="container">
  <h3>Лексико-тематична група:
    <div class="chosen" (click)="visible=!visible">
      <span>{{chosen}}</span><div class="triangle"></div>
    </div>
  </h3>
  <div class="input-container" *ngIf="visible">
    <div>
       <input (change)="changeValue('всі')" type="radio" id = "всі" name="всі" value="всі">
       <label for="всі">Всі</label><br>
    </div>
    <div *ngFor="let el of groups">
       <input (change)="changeValue(el.group)" type="radio" [id] = "el.group" [name]="groups" [value]="el.group">
       <label [for]="el.group">{{el.group}}</label><br>
      <div *ngFor="let s of el.subgroups">
         <input (change)="changeValue(s)" class="subgroup" type="radio" [id] = "s" [name]="groups" [value]="s">
         <label [for]="s">{{s}}</label><br>
      </div>
    </div>
  </div>

</div>
